<div class="row g-2" [formGroup]="form">
    <div class="col-md">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Search"
                formControlName="title">
            <label for="floatingInputGrid">Search</label>
        </div>
    </div>
    <div class="col-md" *ngIf="filters.from.length">
        <div class="form-floating">
            <select class="form-select" formControlName="from">
                <option [value]="from" *ngFor="let from of filters.from">{{from}}</option>
            </select>
            <label for="floatingSelectGrid">Select From</label>
        </div>
    </div>
    <div class="col-md" *ngIf="filters.status.length">
        <div class="form-floating">
            <select class="form-select" formControlName="status">
                <option [value]="status" *ngFor="let status of filters.status">{{status}}</option>
            </select>
            <label for="floatingSelectGrid">Select Status</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <div class="input-group">
                <input class="form-control" formControlName="dueDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                    #d="ngbDatepicker" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="checkbox" data-toggle="switchbutton" checked data-onlabel="Map" data-offlabel="List"
                data-onstyle="success" data-offstyle="danger" formControlName="map">
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <button type="button" class="btn btn-primary" (click)="export()">Export</button>
            <button type="button" class="btn btn-primary m-1" (click)="reset()">Reset</button>
            <a id="downloadAnchorElem" style="display:none"></a>
        </div>
    </div>
</div>